/*/// coin-flip.component.css*/

.coin-container {
  text-align: center;
}

.coin {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  transition: transform 3s;
}

.coin img {
  width: 100%;
  height: 100%;
}

.coin.flipping {
  animation: flip 3s;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(3600deg);
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

h1 {
  color: green;
  font-size: 36px;
  margin-top: 30px;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .coin {
    width: 80px;
    height: 80px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  h2 {
    font-size: 20px;
  }

  h1,
  h3 {
    font-size: 20px;
  }
}
